<h4>
    <span class="filter-box filter-<%= CartoDbLib.getColor(obj.status) %>"></span>
    <strong><%= obj.street_address %></strong>
</h4>
<td>
    
</td>                  
<p>
    Request #<%= obj.sr_number %><br />                  
    Opened on <%= obj.created_date %><br /> 
    Closed on <%= obj.closed_date %>
</p>